.islandora-compound-title {
  font-size: 125% !important; }

.islandora-compound-manage {
  font-size: 85% !important; }

.islandora-compound-details {
  border-bottom: 1px dotted #ccc;
  margin: 1em 0;
  font-size: 90% !important; }

.islandora-compound-thumbs {
  border-top: none !important; }

.islandora-compound-thumb {
  margin-bottom: 1em;
  padding-bottom: 0 !important; }

.islandora-compound-thumb .islandora-compound-caption {
  font-size: 90% !important; }